table, th, td {
    border: 1px solid #000000;
    text-align: center;
    border: 0.5px solid black;
    text-align: center;
    height: 50px;
    border-collapse: separate;
    border-spacing: 1px;
    width: -webkit-fill-available;
  }
  h2{
    color: forestgreen;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
}
  
  th{
      background-color: forestgreen;
  }